.herosection {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}

.heroimg {
  width: 45%;
  margin-right: 2%;
}

.herotitle {
  font-family: "Kanit";
  font-size: 50px;
}

.herotext {
  font-size: 21.06px;
  margin: 0% 10%;
}

@media (max-width: 768px) {
  .introtext {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 2% auto;
    font-size: 18px;
  }

  .herotitle {
    font-family: "Kanit";
    font-size: 30px;
  }

  .heroimg {
    display: none;
  }
}
