.posttitle {
  justify-content: center;
  display: flex;
  margin-top: 80px;
}

.setpostwidth {
  margin-left: "6%";
  margin-right: "5%";
} /* Not working for setting post width of size rn using inline rn */

.imgsize {
  width: 300px;
  height: 350px;
  margin: 15px;
}

.post {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 768px) {
  .post {
    display: none;
  }
}
