@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap");

.contactmecenter {
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
}

.title_contactme {
  margin-top: 1%;
  justify-content: center;
  display: flex;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
}

.btn_contactme_submit,
.btn_contactme_submit:hover,
.btn_contactme_submit:active {
  background-color: rgb(11, 118, 219) !important;
  color: white !important;
  font-family: "Kanit";
}

@media (max-width: 768px) {
  .title_contactme {
    margin-top: 1%;
    justify-content: center;
    display: flex;
    text-align: center;
    font-size: 27px;
    font-weight: bold;
  }
}
