.chords {
  display: flex;
  justify-content: center;
}

.chord-dropdown {
  display: none;
  justify-content: center;
}

.chord_label {
  display: none;
  justify-content: center;
}

@media (min-width: 0px) and (max-width: 786px) {
  .chord-dropdown {
    display: flex;
    justify-content: center;
    margin: 1% auto;
  }
  .chords {
    display: none;
    justify-content: center;
  }
  .chord_label {
    display: flex;
    justify-content: center;
    margin: 0%;
  }
}
