.notes {
  display: flex;
  justify-content: center;
}

.note-dropdown {
  display: none;
  justify-content: center;
}

@media (min-width: 0px) and (max-width: 786px) {
  .note-dropdown {
    display: flex;
    justify-content: center;
    margin: 3% auto;
  }
  .notes {
    display: none;
    justify-content: center;
  }
}
