@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(150, 93, 19);
  color: rgb(255, 255, 255);
}

.btn {
  display: inline-block;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn-danger {
  --bs-btn-bg: #a7450d;
  --bs-btn-hover-bg: #a7450d;
}

.contentDiv {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
  margin-bottom: 0px;
}

.textcenter {
  display: flex;
  justify-content: center;
}

@media (max-width: 1200px) {
  .centered-h1 {
    display: none;
  }
  .logonav {
    display: none;
  }
}
