@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../piano-background.jpg");
  color: rgb(255, 255, 255);
  background-size: cover;
}

.btn {
  display: inline-block;
  color: #000000;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.contentDiv {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
  margin-bottom: 0px;
}

.right-button {
  position: absolute;
  top: 50%; /* Adjust this value as needed to vertically center the button */
  right: 20px; /* Adjust this value to control the distance from the right side */
  transform: translateY(
    -50%
  ); /* Vertically center the button relative to its container */
}

.right-align {
  position: absolute;
  top: 50%; /* Adjust this value as needed to vertically center the element */
  right: 130px; /* Adjust this value to control the distance from the right side */
  transform: translateY(
    -50%
  ); /* Vertically center the element relative to its container */
}

.centered-h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Impact, fantasy;
}

.notes {
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
}

.chords {
  display: flex;
  justify-content: center;
}

.scales {
  display: flex;
  justify-content: space-evenly;
}

.navbar {
  flex-direction: flex-end;
}

.pianoDiv {
  display: flex;
  justify-content: space-evenly;
}

.subh {
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
}

.highlighted:hover {
  background-color: rgb(219, 61, 68);
}

.highlighted {
  background-color: rgb(219, 61, 68);
}
