.navbarbg {
  background-color: #101820ff;
}

.active {
  color: #f2aa4cff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.navbarstyle {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.navbarstyle2 {
  color: white;
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
}

.centered-h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 37px;
  font-family: Impact, fantasy;
  color: #f2aa4cff;
}

.logonav {
  position: absolute;
  top: 50%;
  right: 38%;
  transform: translateY(-50%);
}

.right-button {
  position: absolute;
  top: 50%;
  right: 18%;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  .right-button {
    display: none;
  }
  .me-auto {
    display: none;
  }
  .navbarbg {
    display: none;
  }
}
